In [ ]:
print("Hello word")

Hello word

Python indentation

In [ ]:
if 5 > 2:
  print("Five is greater tha two")
  print("Five is greater tha two")

Five is greater tha two
Five is greater tha two

Comments

In [ ]:
#this is a comment and we need one of these for each comment line to create multiline comments.
#Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:
"""
This is a comment
written in
more than just one line
"""

'\nThis is a comment\nwritten in\nmore than just one line\n'

Python Variables

In [ ]:
x = 5
y = "Hello world!"
print (y)

Hello world!

In [ ]:
x = 5
y = "Jhon"
print(x)
print(y)

5
Jhon

If we want to specify the data type of a variable, this can be done with casting.

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

We can get the data type of a variable with the type() function.

In [ ]:
x = 5
y = 'Jhon' #to str we can use "" or ''
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
a = 4
A = "Sally"
# A will not overwrite a
print(a,A)

4 Sally

Variable names

In [ ]:
#Camel case
myVariableName = "Jhon"
#Pascal case
MyVariableName = "Sally"
#Snake case
my_variable_name ="Dave"

Python allows you to assign values to multiple variables in one line:

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

And we can assign the same value to multiple variables in one line:

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

If we have a collection of values in a list, tuple, etc. Python allows us to extract the values into variables. This is called unpacking.

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x,y,z)
print(x+y+z)

Python is awesome
Pythonisawesome

Global variables

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"  #local variable
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
def myfunc():
  global x
  x = "fantastic"
myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic" #change the value of a global variable

myfunc()

print("Python is " + x)

Python is fantastic