Python has the following data types built-in by default, in these categories:

<table>
<tr>
<td>Text Type: </td>
<td> str </td>
</tr>
<tr>
<td>Numeric Types:</td>
<td>int, float, complex </td></tr>
<tr><td>Sequence Types:</td>	<td>list, tuple, range </td></tr>
<tr><td>Mapping Type:	</td><td>dict </td></tr>
<tr><td>Set Types:	</td><td>set, frozenset </td></tr>
<tr><td>Boolean Type:	</td><td>bool </td></tr>
<tr><td>Binary Types:	</td><td>bytes, bytearray, memoryview </td></tr>
<tr><td>None Type:	</td><td>NoneType </td></tr>
</table>

In [ ]:
a = "Hello World"
b = 20
c = 20.5
d = 1j
e = ["apple", "banana", "cherry"]
f = ("apple", "banana", "cherry")
g = range(6)
h = {"name" : "John", "age" : 36}
i = {"apple", "banana", "cherry"}
j = frozenset({"apple", "banana", "cherry"})
k = True
l = b"Hello"
m = bytearray(5)
n = memoryview(bytes(5))
o = None

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(type(j))
print(type(k))
print(type(l))
print(type(m))
print(type(n))
print(type(o))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>

If we want to specify the data type, you can use the following constructor functions:

In [ ]:
x = float(20.5)
print(x, type(x))

20.5 <class 'float'>

There are three numeric types in Python

*   int
*   float
*   complex

In [4]:
x = 1
y = 2.8
z = 1j
print(type(x))
print(type(y))
print(type(z))

#we can convert from one type to another

a = float(x)
b = int(y)
c = complex(x)
print("Now x is:", a, type(a))
print("Now y is:", b, type(b))
print("Now x is:", c, type(c))

<class 'int'>
<class 'float'>
<class 'complex'>
Now x is: 1.0 <class 'float'>
Now y is: 2 <class 'int'>
Now x is: (1+0j) <class 'complex'>

Print a random number between 1 and 9

In [8]:
import random

print(random.randrange(1,9))

6

Casting:
Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

In [9]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x,y,z)

1 2 3

In [10]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x,y,z,w)

1.0 2.8 3.0 4.2

In [11]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x,y,z)

s1 2 3.0