<a href="https://colab.research.google.com/github/johanasev/Python/blob/main/strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Strings**


We use sigle quotation marks, or double quotation marks like 'joha' is the same "joha"

In [2]:
# Assign string to a variable
a = "Hello"
b = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)
print(b)

Hello
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [3]:
#String are Arrays
a = "Hey, you"
print(a[1])

e

In [6]:
#Looping through a string
for x in "orange":
  print(x)

o
r
a
n
g
e

In [18]:
#String length
a = "This is an orange"
print("The length of the chain is:",len(a))

The length of the chain is: 17

In [10]:
#We use de kayword in to check if a phrase or character is present in a string
txt = "The best things in life are free!"
print("free" in txt)

True

In [11]:
#We can use in with if
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [19]:
#A version with input chart
txt = input("Enter the main phrase")
look = input("Enter the phrase or character to search for in the main field")
if look in txt:
  print("Yes, ", look, "is present.")
else:
  print("No, ", look, "is not present.")

Enter the main phrasesol naciente
Enter the phrase or character to search for in the main fieldluna
No,  luna is not present.

In [17]:
#Check if not
txt = "The best things in life are free!"
print("expensive" not in txt)

#A version with if
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

True
No, 'expensive' is NOT present.

**Slicing Strings**

In [27]:
#We can return a range of characters by using the slice syntax
b = "Hello, World!"
print(b[2:5])  #use the start and end position
print(b[:7])   #get the character for the start position
print(b[2:])   #get the characters from position 2, and all the way to the end

#Negative indexing
print(b[-5:-2]) #From: "o" in "World!" (position -5) to, but not included: "d" in "World!" (position -2):

llo
Hello,
llo, World!
orl

**Modify Strings**

In [1]:
#Upper case
a = "Mayusc"
print(a.upper())

MAYUSC

In [2]:
#Lower case
a = "Minusc"
print(a.lower())

minusc

In [4]:
#Remove white spaces from begnning and end
a = " Hello, World! "
print(a.strip())

Hello,  World!

In [5]:
#Replace string with another string
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [7]:
#Split string into substrings if it finds the separator
a = "orange, banana, avocado"
print(a.split(","))

['orange', ' banana', ' avocado']

**Concatenation**

In [8]:
#Asign string to a variable
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [9]:
#Add an space between strings
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

**Format**

In [ ]:
#Error example
age = 36
txt = "My name is John, I am " + age
print(txt)

In [13]:
#Format method to insert numbers into strings
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [14]:
#The format() method takes unlimited number of arguments
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [15]:
#We can use index numbers {0} to be sure the arguments are placed in the correct placeholders
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars {0} pieces of item {1}."
print(myorder.format(quantity,itemno,price))

I want to pay 49.95 dollars 3 pieces of item 567.

**Escape Character**

Other escape characters used in Python

In [19]:
#The escape character allows you to use double quotes when you normally would not be allowed: \"
txt = "We are the so-called \"Vikings\" from the north."

In [34]:
# Table created with pandas lybrary

import pandas as pd

df = pd.DataFrame()

Codes = ["\'", '\\\\', '\\n', '\\r', '\\t', '\\b', '\\f', '\\ooo', '\\xhh']
Results = ['Single Quote', 'Backslash', 'New Line', 'Carriage Return', 'Tab', 'Backspace', 'Form Feed', 'Octal value', 'Hex value']

df['Code'] = Codes
df['Result'] = Results

print(df)

   Code           Result
0     '     Single Quote
1    \\        Backslash
2    \n         New Line
3    \r  Carriage Return
4    \t              Tab
5    \b        Backspace
6    \f        Form Feed
7  \ooo      Octal value
8  \xhh        Hex value

**String Methods**

<table class="ws-table-all notranslate">
<tbody><tr>
<th>Method</th>
<th>Description</th>
</tr>
  <tr>
    <td>capitalize()</a></td><td>Converts the first
    character to upper case</td>
  </tr>
  <tr>
    <td>casefold()</a></td><td>Converts string into
    lower case</td>
  </tr>
  <tr>
    <td>center()</a></td><td>Returns a centered
    string</td>
  </tr>
  <tr>
    <td>count()</a></td><td>Returns the number of
    times a specified value occurs in a string</td>
  </tr>
  <tr>
    <td>encode()</a></td><td>Returns an encoded
    version of the string</td>
  </tr>
  <tr>
    <td>endswith()</a></td><td>Returns true if the
    string ends with the specified value</td>
  </tr>
  <tr>
    <td>expandtabs()</a></td><td>Sets the
    tab size of the string</td>
  </tr>
  <tr>
    <td>find()</a></td><td>Searches the string for a
    specified value and returns the position of where it was found</td>
  </tr>
  <tr>
    <td>format()</a></td><td>Formats specified
    values in a string</td>
  </tr>
  <tr>
    <td>format_map()</td><td>Formats specified
    values in a string</td>
  </tr>
  <tr>
    <td>index()</a></td><td>Searches the string
    for a specified value and returns the position of where it was found</td>
  </tr>
  <tr>
    <td>isalnum()</a></td><td>Returns True if all
    characters in the string are alphanumeric</td>
  </tr>
  <tr>
    <td>isalpha()</a></td><td>Returns True if all
    characters in the string are in the alphabet</td>
  </tr>
  <tr>
    <td>isascii()</a></td><td>Returns True if all
    characters in the string are ascii characters</td>
  </tr>
  <tr>
    <td>isdecimal()</a></td><td>Returns True if all
    characters in the string are decimals</td>
  </tr>
  <tr>
    <td>isdigit()</a></td><td>Returns True if all
    characters in the string are digits</td>
  </tr>
  <tr>
    <td>isidentifier()</a></td><td>Returns True if
    the string is an identifier</td>
  </tr>
  <tr>
    <td>islower()</a></td><td>Returns True if all
    characters in the string are lower case</td>
  </tr>
  <tr>
    <td>isnumeric()</a></td><td>Returns True if
    all characters in the string are numeric</td>
  </tr>
  <tr>
    <td>isprintable()</a></td><td>Returns True if
    all characters in the string are printable</td>
  </tr>
  <tr>
    <td>isspace()</a></td><td>Returns True if all
    characters in the string are whitespaces</td>
  </tr>
  <tr>
    <td>istitle()</a></td>
    <td>Returns True if the string follows the rules of a
    title</td>
  </tr>
  <tr>
    <td>isupper()</a></td><td>Returns True if all
    characters in the string are upper case</td>
  </tr>
  <tr>
    <td>join()</a></td><td>Joins the elements of
    an iterable to the end of the string</td>
  </tr>
  <tr>
    <td>ljust()</a></td><td>Returns a left justified
    version of the string</td>
  </tr>
  <tr>
    <td>lower()</a></td><td>Converts a string into
    lower case</td>
  </tr>
  <tr>
    <td>lstrip()</a></td><td>Returns a left trim
    version of the string</td>
  </tr>
  <tr>
    <td>maketrans()</a></td><td>Returns a
    translation table to be used in translations</td>
  </tr>
  <tr>
    <td>partition()</a></td><td>Returns a tuple
    where the string is parted into three parts</td>
  </tr>
  <tr>
    <td>replace()</a></td><td>Returns a string
    where a specified value is replaced with a specified value</td>
  </tr>
  <tr>
    <td>rfind()</a></td><td>Searches the string for
    a specified value and returns the last position of where it was found</td>
  </tr>
  <tr>
    <td>rindex()</a></td><td>Searches the string for
    a specified value and returns the last position of where it was found</td>
  </tr>
  <tr>
    <td>rjust()</a></td><td>Returns a right justified
    version of the string</td>
  </tr>
  <tr>
    <td>rpartition()</a></td><td>Returns a tuple
    where the string is parted into three parts</td>
  </tr>
  <tr>
    <td>rsplit()</a></td><td>Splits the string at
    the specified separator, and returns a list</td>
  </tr>
  <tr>
    <td>rstrip()</a></td><td>Returns a right trim
    version of the string</td>
  </tr>
  <tr>
    <td>split()</a></td><td>Splits the string at
    the specified separator, and returns a list</td>
  </tr>
  <tr>
    <td>splitlines()</a></td><td>Splits the string
    at line breaks and returns a list</td>
  </tr>
  <tr>
    <td>startswith()</a></td><td>Returns true if
    the string starts with the specified value</td>
  </tr>
  <tr>
    <td>strip()</a></td><td>Returns a trimmed version of the string</td>
  </tr>
  <tr>
    <td>swapcase()</a></td><td>Swaps cases, lower
    case becomes upper case and vice versa</td>
  </tr>
  <tr>
    <td>title()</a></td><td>Converts the first
    character of each word to upper case</td>
  </tr>
  <tr>
    <td>translate()</a></td><td>Returns a
    translated string</td>
  </tr>
  <tr>
    <td>upper()</a></td><td>Converts a string
    into upper case</td>
  </tr>
<tr><td>zfill()</a></td><td>Fills the string with
  a specified number of 0 values at the beginning</td></tr>
</tbody></table>

```
# This is formatted as code
```

In [13]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)
print(txt.encode())
print(txt.capitalize())
print(txt.casefold())
print(txt.center(1))
print(txt.endswith('s'))
print(txt.find("love"))
print(txt.index("o"))
print(txt.isalnum())
print(txt.isalpha())
print(txt.isascii())
print(txt.isdecimal())
print(txt.isdigit())
print(txt.isidentifier())
print(txt.islower())
print(txt.isnumeric())
print(txt.isprintable())
print(txt.isspace())
print(txt.istitle())
print(txt.isupper())



txt1 = "H\te\tl\tl\to"

print(txt1)
print(txt1.expandtabs())
print(txt1.expandtabs(2))
print(txt1.expandtabs(4))
print(txt1.expandtabs(10))

2
b'I love apples, apple are my favorite fruit'
I love apples, apple are my favorite fruit
i love apples, apple are my favorite fruit
I love apples, apple are my favorite fruit
False
2
3
False
False
True
False
False
False
False
False
True
False
False
False
H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o